body, div, ul, li, img, button {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  width: 100vw;
  background-color: #f0eadc;
  font-family: 'Original Surfer', cursive;
  overflow-x: hidden;
}

button {
  font-family: 'Original Surfer', cursive;
}

.result-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.result-div .lose-caption {
  position: fixed;
  left: 35vw;
  top: 40vh;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.result {
  pointer-events: none;
  z-index: 100;
}

.win {
  background: url(../assets/img/win_image.png) no-repeat center;
}

.failure {
  background: url(../assets/img/lose_image.png) no-repeat center;
}

.container {
  width: 80rem;
  margin: 0 auto;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(99, 96, 91, 0.5);
  z-index: 4;
}

.header-container {
  padding-top: 2.5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .nav-burger,
.header-container .header-title,
.header-container .play-toggle {
  background-color: #BEA5A9;
}
.header-container .play-toggle:hover {
  background-color: #fdcdd5;
}
.header-container .nav-burger {
  width: 4rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  z-index: 10;
  cursor: pointer;
}
.header-container .nav-burger .rectangle {
  width: 100%;
  height: 0.35rem;
  border: #121110 solid 0.18rem;
  border-radius: 1rem;
  background-color: #0082FA;
  box-shadow: 3px 1.5px 0 0 rgb(18, 17, 16);
}

.header-container .nav-burger .rect2{
  background-color: #FF6813;
}

.header-container .nav-burger .rect3{
  background-color: #f7d046;
}

.header-container .cross {
  background-color: transparent;
  z-index: 1000;
}

.header-container .cross .rect1 {
  transform: rotate(45deg) translateY(1.2rem) translateX(0.13rem);
  box-shadow: 0px 2px 0 0 rgb(18, 17, 16);
}
.header-container .cross .rect2 {
  visibility: hidden;
}
.header-container .cross .rect3 {
  transform: rotate(-45deg) translateY(-1.2rem);
  box-shadow: 0px 2px 0 0 rgb(18, 17, 16);
}

.header-container .header-title {
  position: relative;
  width: 48rem;
  color: #0E0B0B;
  text-align:end;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  background-color: transparent;
  text-shadow: 4px 2px 0px #0082FA;
}

.header-container .header-title::before{
  position: absolute;
  content: '';
  top: -1.9rem;
  left: 0.4rem;
  width: 10rem;
  height: 9.3rem;
  background-image: url(../assets/img/title_img.png);
  background-size: contain;
 
}

.header-container .stats-btns {
  display: flex;
  margin: 0.5rem;
}
.header-container .stat-btn,
.header-container .play-toggle {
  box-sizing: border-box;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  color: #121110;
  background-color: #FF6813;
  border: #121110 solid 0.15rem;
  border-radius: 8rem;
  cursor: pointer;
  box-shadow: 4px 2px 0 0 rgb(18, 17, 16);
  transition: 0.3s;
}

.header-container .stat-btn:hover,
.header-container .stat-btn:hover,
.header-container .play-toggle:hover,
.header-container .play-toggle:hover {
  color: white;
  background-color: #0082FA;
}

.header-container .stat-btn {
  font-size: 1.3rem;
  background: #BFA17C;
}
.header-container .stat-btn:hover {
  box-shadow: 0 0 1.2rem 0.8rem rgba(169, 148, 173, 0.7);
}
.header-container .stat-btn:active {
  color: #fdcdd5;
  box-shadow: 0 0 1.2rem 0.8rem rgb(169, 148, 173);
}

.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 12rem;
  height: 100vh;
  padding: 5rem 1rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  border: solid 0.3rem #121110;
  background: #0082FA;
  text-shadow: 3px 2px 0 #121110;
  z-index: 5;
}

.nav-sidebar .nav-sidebar-elem {
  padding-top: 1rem;
}

.nav-sidebar .nav-sidebar-elem:hover {
  text-shadow: #fff 0 0 0.1rem, #fff 0 0 0.1rem, #fff 0 0 0.1rem, #BEA5A9 0 0 0.1rem;
  cursor: pointer;
  text-decoration: underline;
}

.nav-sidebar .nav-sidebar-elem:active {
  text-shadow: #fff 0 0 0.1rem, #fff 0 0 0.1rem, #fff 0 0 0.1rem, #BEA5A9 0 0 0.1rem;
  cursor: pointer;
  text-decoration: underline;
}

.nav-sidebar .side-menu,
.nav-sidebar .side-stats {
  margin: 2rem 0;
  padding-left: 1.5rem;
  font-size: 2.5rem;
}

.nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
  margin: 2rem 0;
  padding-left: 1.5rem;
  text-decoration: underline;
}

.nav-sidebar .active-item {
  color: #FF6813;
  text-shadow: 3px 2px 0 #121110;
  transform: scale(1.1);
}

img {
  width: 100%;
  height: 100%;
}

.item-list {
  padding-top: 2.8rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.item-list .answered {
  filter: brightness(30%);
  pointer-events: none;
}

.item-list .item-div {
  position: relative;
  height: 19rem;
  list-style-type: none;
  text-transform: capitalize;
  background: #FAF5EC;
  border-radius: 20%;
}

.item-list .item-div .front,
.item-list .item-div .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #121110 solid 0.2rem;
  border-radius: 20%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 6px 6px 0 0 rgb(18, 17, 16);
}

.item-list .item-div .front {
  transform: perspective(40rem) rotateY(0);
}

.item-list .item-div .back {
  transform: perspective(40rem) rotateY(180deg);
}

.item-list .item-div .item-image {
  width: 90%;
  overflow: hidden;
}

.item-list .item-div .wide {
  height: 17rem;
  overflow: hidden;
  z-index: 3;
}
.item-list .item-div .div-caption {
  position: relative;
  text-align: center;
  height: 23%;
  color: #121110;
  font-size: 2rem;
}

.item-list .item-div .div-caption .translate-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
}
.item-list .item-div .div-caption .translate-btn .translate-img {
  padding-top: 0;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-0.5rem);
  transform: translateX(-0.5rem);
  cursor: pointer;
}
.item-list .front:hover,
.item-list .back:hover {
  box-shadow: 6px 6px 0 0 rgb(0, 130, 250);
}
.item-list .front:active,
.item-list .back:active {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 1.5rem 1rem rgba(169, 148, 173, 0.9);
}
.item-list .active-rotate .front {
  transform: perspective(40rem) rotateY(-180deg);
}
.item-list .active-rotate .back {
  transform: perspective(40rem) rotateY(0);
}

.main-container {
  display: grid;
  grid-auto-flow: row;
  height: calc(100vh - 5rem);
}

.bottom-div {
  height: 3rem;
  display: flex;
  align-items: center;
  grid-row-start: 2;
  overflow: hidden;
}

.start-btn {
  box-sizing: border-box;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  color: #121110;
  background-color: #f7d046;
  border: #121110 solid 0.15rem;
  border-radius: 8rem;
  cursor: pointer;
  box-shadow: 4px 2px 0 0 rgb(18, 17, 16);
  transition: 0.3s;
}

.start-btn:hover,
.repeat:hover {
  box-shadow: 0 0 1rem 0.6rem rgba(169, 148, 173, 0.7);
}

.start-btn:active {
  color: #fdcdd5;
  box-shadow: 0 0 1rem 0.6rem rgb(169, 148, 173);
}

.repeat {
  color: transparent;
  background-image: url(../assets/img/repeat.png);
}

.repeat:active {
  color: transparent;
  box-shadow: 0 0 1.2rem 0.8rem rgb(169, 148, 173);
}

.unvisible {
  visibility: hidden;
}

.stars-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.star {
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ECE9E0;
  color: #656665;
  border: 16px solid #ECE9E0;
  border-radius: 20px;
}

th {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

td {
  background: #F5D7BF;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1300px) and (min-width: 901px) {
  html {
    font-size: 70%;
    overflow: scroll;
    overflow-x: hidden;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .main-container {
    width: 70rem;
    margin: 0 auto;
    user-select: none;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    font-size: 5rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    font-size: 5rem;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 5rem;
    color: #fdcdd5;
    text-decoration: none;
  }
  .item-list {
    padding-top: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .bottom-div {
    grid-row-start: 4;
  }
}
@media screen and (max-width: 900px) and (min-width: 801px) {
  html {
    font-size: 70%;
    overflow: scroll;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .container {
    width: 60rem;
  }
  .main-container {
    margin: 0 auto;
    user-select: none;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    font-size: 5rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    font-size: 5rem;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 5rem;
    color: #fdcdd5;
    text-decoration: none;
  }
  .item-list {
    padding-top: 2.5rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .bottom-div {
    grid-row-start: 5;
  }
  .header-container {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px) and (min-width: 701px) {
  html {
    font-size: 70%;
    overflow: scroll;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .container {
    width: 55rem;
  }
  .main-container {
    margin: 0 auto;
    user-select: none;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    font-size: 5rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    font-size: 5rem;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 5rem;
    color: #fdcdd5;
    text-decoration: none;
  }
  .item-list {
    padding-top: 1.5rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .bottom-div {
    grid-row-start: 5;
  }
}
@media screen and (max-width: 700px) and (min-width: 601px) {
  html {
    font-size: 70%;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .container {
    width: 50rem;
  }
  .main-container {
    width: 50rem;
    margin: 0 auto;
    user-select: none;
  }
  .item-list {
    padding-top: 1.5rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .bottom-div {
    grid-row-start: 5;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .nav-sidebar .nav-sidebar-elem {
    font-size: 6rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    margin: 0;
    padding-left: 0;
    font-size: 6rem;
    color: #fdcdd5;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 6rem;
    color: #fdcdd5;
    text-decoration: none;
  }
}
@media screen and (max-width: 600px) and (min-width: 501px) {
  html {
    font-size: 50%;
    overflow: visible;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .container {
    width: 55rem;
  }
  .main-container {
    margin: 0 auto;
    user-select: none;
  }
  .item-list {
    padding-top: 2.5rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .item-list .item-div {
    height: 35rem;
  }
  .item-list .item-div .front,
.item-list .item-div .back {
    height: 100%;
  }
  .item-list .item-div .front .div-caption-eng,
.item-list .item-div .back .div-caption-eng {
    font-size: 5rem;
  }
  .bottom-div {
    grid-row-start: 9;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .nav-sidebar .nav-sidebar-elem {
    font-size: 6rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    margin: 0;
    padding-left: 0;
    font-size: 6rem;
    color: #fdcdd5;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 6rem;
    color: #fdcdd5;
    text-decoration: none;
  }
}
@media screen and (max-width: 500px) and (min-width: 401px) {
  html {
    font-size: 50%;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .container {
    width: 45rem;
  }
  .main-container {
    margin: 0 auto;
    user-select: none;
  }
  .item-list {
    padding-top: 2rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .item-list .item-div {
    height: 28rem;
  }
  .item-list .item-div .front,
.item-list .item-div .back {
    height: 100%;
  }
  .item-list .item-div .front .div-caption-eng,
.item-list .item-div .back .div-caption-eng {
    font-size: 5rem;
  }
  .bottom-div {
    grid-row-start: 9;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .nav-sidebar .nav-sidebar-elem {
    font-size: 5rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    margin: 0;
    padding-left: 0;
    font-size: 5rem;
    color: #fdcdd5;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 5rem;
    color: #fdcdd5;
    text-decoration: none;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
    overflow: scroll;
  }
  body {
    background: url(../assets/img/bg-general.png) center;
  }
  .container {
    width: 35rem;
  }
  .main-container {
    margin: 0 auto;
    user-select: none;
  }
  .item-list {
    padding-top: 2rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .item-list .item-div {
    height: 23rem;
  }
  .item-list .item-div .front,
.item-list .item-div .back {
    height: 100%;
  }
  .item-list .item-div .front .div-caption-eng,
.item-list .item-div .back .div-caption-eng {
    font-size: 4rem;
  }
  .bottom-div {
    grid-row-start: 9;
  }
  .nav-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .nav-sidebar .nav-sidebar-elem {
    font-size: 4rem;
  }
  .nav-sidebar .side-menu,
.nav-sidebar .side-stats {
    margin: 0;
    padding-left: 0;
    font-size: 4rem;
    color: #fdcdd5;
  }
  .nav-sidebar .side-menu:hover,
.nav-sidebar .side-stats:hover {
    margin: 0;
    padding-left: 0;
    font-size: 4rem;
    color: #fdcdd5;
    text-decoration: none;
  }
}
.hidden {
  display: none;
}