:root {
  --page-orange-color: #FF6813;
  --page-blue-color: #0082FA;
  --page-yellow-color: #f7d046;
  --page-black-color: rgb(18, 17, 16);
  --background-color: #f0eadc;
}


body, div, ul, li, img, a, h1,
main {
  margin: 0;
  padding: 0;
}


img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
  height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


body {
  width: 100%;
  height: 100vh;
  color: #121110;
  font-family: 'Original Surfer', cursive;
  background: url(../assets/img/background.png) center;
  background-size: cover;
}


button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  font-family: 'Original Surfer', cursive;
}


.unvisible {
  display: none;
}


.result-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


.result-div .lose-caption {
  position: fixed;
  left: 24vw;
  top: 72vh;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 3px 0 #121110;
}


.result {
  z-index: 100;
  pointer-events: none;
}


.win {
  background: url(../assets/img/win_image.png) no-repeat center;
}


.failure {
  background: url(../assets/img/lose_image.png) no-repeat center;
}


.container {
  margin: 0 auto;
  width: 80rem;
  user-select: none;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: rgba(99, 96, 91, 0.5);

}


.header-container {
  padding-top: 2.5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-container {
  display: grid;
}


.nav-burger {
  z-index: 10;
  width: 4rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}


.nav-burger:hover {
  transform: translateY(0.4rem);
}


.rectangle {
  box-sizing: border-box;
  width: 100%;
  height: 0.6rem;
  border: #121110 solid 0.18rem;
  border-radius: 1rem;
  background-color: var(--page-blue-color);
  box-shadow: 0.15rem 0.1rem 0 0 rgb(18, 17, 16);
}


.header-container .nav-burger .rect2{
  background-color: var(--page-orange-color);
}


.header-container .nav-burger .rect3{
  background-color: var(--page-yellow-color);
}


.header-container .cross {
  z-index: 1000;
  background-color: transparent;
}


.cross .rect1 {
  transform: rotate(45deg) translateY(1.2rem) translateX(0.13rem);
  box-shadow: 0 0.1rem 0 0 rgb(18, 17, 16);
}


.cross .rect2 {
  visibility: hidden;
}


.cross .rect3 {
  transform: rotate(-45deg) translateY(-1.2rem);
  box-shadow: 0 0.1rem 0 0 rgb(18, 17, 16);
}


.header-link {
  width: 49rem;
  transition: 0.3s;
}


.header-title {
  position: relative;
  width: 48rem;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  color: #0E0B0B;
  font-weight: bold;
  text-align: end;
  text-shadow: 0.2rem 0.1rem 0 #0082FA;
  background-color: transparent;
}


.header-title:hover {
  color: var(--page-blue-color);
  text-shadow: 0.2rem 0.1rem 0 rgb(18, 17, 16);
  transform: scale(0.98);
}


.header-title::before {
  content: '';
  position: absolute;
  top: -1.9rem;
  left: 0.4rem;
  width: 10rem;
  height: 9.3rem;
  background-image: url(../assets/img/title_img.png);
  background-size: contain;
}


.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 5rem 1rem 0 3rem;
  width: 12rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  border: solid 0.3rem #121110;
  background: var(--page-blue-color);
  text-shadow: 0.15rem 0.1rem 0 #121110;
}


.nav-sidebar-elem {
  padding-top: 1rem;
}


.nav-sidebar-elem:hover,
.nav-sidebar-elem:active {
  text-shadow: #fff 0 0 0.1rem, #fff 0 0 0.1rem, #fff 0 0 0.1rem;
  text-decoration: underline;
  cursor: pointer;
}


.side-menu,
.side-stats {
  margin: 2rem 0;
  padding-left: 1.5rem;
  font-size: 2.5rem;
}


.side-menu:hover,
.side-stats:hover {
  text-decoration: underline;
}


.active-item {
  color: var(--page-orange-color);
  text-shadow: 0.15rem 0.1rem 0 #121110;
  transform: scale(1.1);
}


.stat-btn,
.play-toggle,
.start-btn {
  box-sizing: border-box;
  width: 6rem;
  height: 2.5rem;
  color: #121110;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: center;
  border: #121110 solid 0.15rem;
  border-radius: 8rem;
  background-color: var(--page-orange-color);
  box-shadow: 0.3rem 0.15rem 0 0 rgb(18, 17, 16);
  cursor: pointer;
  transition: 0.3s;
}


.stat-btn:hover,
.play-toggle:hover {
  color: white;
  background-color: var(--page-blue-color);
  transform: translateY(0.4rem);
}


.stat-btn:active,
.play-toggle:active {
  box-shadow: 0.3rem 0.15rem 0 0 rgba(0, 130, 250, 0.9);
}


.item-list {
  padding-top: 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
}


.item-list .answered {
  filter: brightness(50%);
  pointer-events: none;
}


.item-div {
  position: relative;
  height: 20rem;
  list-style-type: none;
  text-transform: capitalize;
  border-radius: 20%;
}


.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #121110 solid 0.2rem;
  border-radius: 4rem;
  background-color: #FAF5EC;
  box-shadow: 0.4rem 0.4rem 0 0 rgb(18, 17, 16);
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
}


.item-list .item-div .front {
  transform: perspective(40rem) rotateY(0);
}


.item-list .item-div .back {
  transform: perspective(40rem) rotateY(180deg);
}


.front:hover,
.back:hover {
  box-shadow: 0.6rem 0.6rem 0 0 rgb(0, 130, 250);
}


.item-list .front:active,
.item-list .back:active {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 1rem 1rem rgba(0, 130, 250, 0.9);
}


.item-list .active-rotate .front {
  transform: perspective(40rem) rotateY(-180deg);
}


.item-list .active-rotate .back {
  transform: perspective(40rem) rotateY(0);
}


.item-image {
position: relative;
width: 90%;
height: auto;
}


.wide {
z-index: 3;
margin-top: 0.9rem;
width: 17.5rem;
height: 17.5rem;
}


.item-list .item-div .div-caption {
position: relative;
width: 100%;
height: 18%;
color: #121110;
font-size: 1.9rem;
text-align: center;
}


.caption-train-mode::before {
content: '';
position: absolute;
top: 0;
left: 1.2rem;
width: 2.4rem;
height: 2.4rem;
background-image: url(../assets/img/sound.png);
background-size: cover;
transition: 0.4s;
}


.caption-train-mode:hover::before  {
transform: rotate(360deg);
cursor: pointer;
}


.front:active .caption-train-mode::before {
transform: rotate(360deg);
}


.translate-btn {
position: absolute;
top: 0;
right: 1rem;
width: 2.4rem;
height: 2.4rem;
background-color: transparent;
cursor: pointer;
transition: 0.4s;
}


.translate-img {
transition: 0.4s;
}


.translate-img:hover {
transform: rotateX(180deg);
}


.bottom-div {
padding-top: 1.1rem;
padding-bottom: 1.1rem;
height: 4rem;
grid-row-start: 2;
display: flex;
align-items: center;
overflow: hidden;
}


.start-btn {
flex-shrink: 0;
background-color: var(--page-yellow-color);
}


.start-btn:hover,
.repeat:hover {
color: white;
background-color: var(--page-blue-color);
transform: translateY(-0.4rem);
}


.start-btn:active {
box-shadow: 0.3rem 0.15rem 0 0 rgba(0, 130, 250, 0.9);
}


.repeat,
.repeat:hover {
color: transparent;
background-image: url(../assets/img/repeat.png);
background-size: 4.3rem;
background-position: 50%;
background-repeat: no-repeat;
}


.repeat:active {
color: transparent;
box-shadow: 0.3rem 0.15rem 0 0 rgba(0, 130, 250, 0.9);
}


.stars-container {
margin-left: 2rem;
display: flex;
flex-direction: row-reverse;
justify-content: start;
align-items: center;
flex-wrap: nowrap;
overflow: hidden;
}


.star {
margin-right: 0.5rem;
width: 2.5rem;
height: 2.5rem;
}


.stats-btns {
margin: 0.5rem;
display: flex;
}


.stat-btn {
font-size: 1.3rem;
background: #BFA17C;
}


.stat-btn:hover {
box-shadow: 0 0 1.2rem 0.8rem rgba(169, 148, 173, 0.7);
}


.stat-btn:active {
color: #fdcdd5;
box-shadow: 0 0 1.2rem 0.8rem rgb(169, 148, 173);
}

.stats-btns{
  display: none;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 0.23rem;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 20px;
}

th {
font-size: 18px;
padding: 10px;
text-align: center;
text-transform: capitalize;
}

td {
background: #F5D7BF;
padding: 10px;
text-align: center;
}


/*---------------------1201-1400----------------------*/

@media screen and (max-width: 1400px) {

  html {
    font-size: 70%;
  }

  .container {
    width: 100rem;
  }

  .header-container {
    padding-top: 3.2rem;
  }

  .nav-burger {
    width: 5.8rem;
    height: 3.8rem;
  }

  .rectangle {
    height: 0.9rem;
  }

  .header-title {
    width: 54rem;
    font-size: 5.8rem;
  }

  .header-title::before {
    width: 11.9rem;
    height: 11rem;
    left: -6rem;
  }

  .play-toggle, 
  .start-btn {
    width: 9rem;
    height: 3.5rem;
    font-size: 2.5rem;
    box-shadow: 0.4rem 0.25rem 0 0 rgb(18 17 16);
  }

  .cross {
    position: fixed;
    top: 5rem;
    left: 16rem;
  }

  .cross .rect1 {
    transform: rotate(45deg) translateY(0rem);
  }

  .cross .rect3 {
    transform: rotate(-45deg) translateY(-2.1rem) translatex(1.8rem);
  }

  .nav-sidebar {
    padding: 7rem 0 0 4rem;
    width: 20rem;
    font-size: 2.8rem;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 3.4rem;
  }

  .item-list {
    padding-top: 4rem;
    gap: 2rem;
  }
  
  .item-div{
    height: 25rem;
  }

  .wide{
    width: 95%;
    height: 90%;
  }

  .item-list .item-div .div-caption {
    font-size: 2.3rem;

  }
  
  .div-caption-eng::before{
    top: 0.1rem;
    left: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
  }
  
  .translate-btn {
    top: 0.1rem;
    left: 18.5rem;
    width: 2.8rem;
    height: 2.8rem;
  }

  .bottom-div {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .star {
    width: 3.5rem;
    height: 3.5rem;
  }

  .repeat,
  .repeat:hover {
    background-size: 6rem;
  }
}

/*---------------------1001px-1200px----------------------*/

@media screen and (max-width: 1200px){
  html {
    font-size: 65%;
  }
  .container {
    width: 90rem;
  }

  .nav-burger {
    width: 6rem;
    height: 4rem;
  }

  .rectangle {
    height: 0.9rem;
    box-shadow: 0.23rem 0.17rem 0 0 rgb(18 17 16);
  }

  .cross {
    position: fixed;
    top: 4.5rem;
    left: 18rem;
  }

  .cross .rect1 {
    transform: rotate(45deg) translateY(0rem);
  }

  .cross .rect3 {
    transform: rotate(-45deg) translateY(-2.3rem) translatex(2.2rem);
  }

  .header-title {
    width: 56rem;
    font-size: 6rem;
  }

  .header-title::before {
    left: -5rem;
  }

  .play-toggle, 
  .start-btn {
    width: 9rem;
    height: 3.8rem;
    font-size: 2.8rem;
  }

  .nav-sidebar{
    padding: 7rem 0 0 4rem;
    width: 23rem;
    font-size: 3.2rem;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 4.2rem;
  }

  .item-list {
    padding-top: 6rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .item-div {
    height: 30rem;
  }

  .front,
  .back {
    box-shadow: 0.6rem 0.6rem 0 0 rgb(18 17 16);
  }

  .item-list .item-div .div-caption {
    font-size: 3rem;
  }

  .item-image {
    padding-top: 0.5rem;
    width: 85%;
  }

  .wide {
    width: 90%;
    height: 90%;
  }

  .div-caption-eng::before {
    width: 3.5rem;
    height: 3.5rem;
  }

  .translate-btn {
    left: 23.3rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .bottom-div {
    grid-row-start: 3;
  }

  .stars-container {
    margin-left: 4rem;
  }

  .star {
    margin-right: 0.55rem;
  }

  td {
    font-size: 2rem;
  }


}


/*---------------------901px-1000px----------------------*/

@media screen and (max-width: 1000px) and (min-width: 901px) {

  html {
    font-size: 60%;
  }

  .header-container {
    padding-top: 4rem;
  }

  .header-title {
    width: 56rem;
    font-size: 6rem;
  }

  .header-title::before {
    width: 13rem;
    height: 12rem;
    left: -6rem;
  }

  .container {
    width: 85rem;
  }

  .nav-burger {
    width: 6rem;
    height: 4rem;
  }

  .rectangle {
    height: 0.85rem;
  }

  .nav-sidebar {
    font-size: 3.8rem;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 4.8rem;
  }

  .item-list {
    padding-top: 8rem;
  }

  .item-div {
    height: 28rem;
  }

  .div-caption-eng::before {
    top: 0.4rem;
  }

  .translate-btn {
    top: 0.4rem;
    left: 22rem;
  }

  .bottom-div {
    padding-top: 4.5rem;
  }

  .stars-container {
    margin-left: 3.7rem;
  }
}


/*---------------------801px-900px---------------------*/

@media screen and (max-width: 900px) {

  html {
    font-size: 55%;
  }

  .header-container {
    height: 100%;
    padding-top: 1rem;
  }

  .header-link {
    width: 65rem;
  }

  .header-title {
    width: 65rem;
    font-size: 7.5rem;
    text-align: center;
  }

  .header-title::before {
    margin: 0;
    padding: 0;
    display: none;
  }

  .play-toggle, 
  .start-btn {
    width: 10.5rem;
    height: 4.3rem;
    font-size: 3.3rem;
  }

  .nav-sidebar {
    font-size: 4rem;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 5rem;
  }

  .container{
    width: 85rem;
  }

  .item-list {
    padding-top: 4rem;
  }

  .item-div {
    height: 28rem;
  }

  .translate-btn {
    left: 22rem
  }

  .bottom-div {
    padding-top: 4.5rem;
  }

  .star {
    margin-right: 0.65rem;
  }

  .repeat {
    background-size: 7.3rem;
  }

  th{
    font-size: 1.75rem;
  }

}


/*---------------------701px-800px---------------------*/

@media screen and (max-width: 800px) {

  html {
    font-size: 50%;
  }

  .container{
    width: 85rem;
  }

  .header-container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nav-burger {
    width: 7.5rem;
    height: 4.8rem;
    grid-row: 2;
    grid-column: 1;
    justify-self: start;
    align-self: end;
  }

  .rectangle {
    height: 1.1rem;
    box-shadow: 0.35rem 0.23rem 0 0 rgb(18 17 16);
  }

  .header-link {
    width: 65rem;
    grid-column: span 3;
    grid-row: 1;
    padding-left: 17rem;
  }

  .header-title {
    width: 65rem;
    font-size: 7.5rem;
  }

  .header-title::before {
    display: initial;
    width: 15.2rem;
    height: 14rem;
    left: -14rem;
  }

  .play-toggle, 
  .start-btn {
    width: 12.5rem;
    height: 5.5rem;
    font-size: 4rem;
    box-shadow: 0.6rem 0.4rem 0 0 rgb(18 17 16);
  }

  .play-toggle {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
    align-self: end;
  }

  .nav-sidebar {
    padding: 10rem 0 0 6rem;
    width: 35rem;
    font-size: 5rem;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 6.5rem;
  }

  .cross {
    left: 30rem;
  }

  .cross .rect3 {
    transform: rotate(-45deg) translateY(-2.8rem) translatex(2.4rem);
  }

  .item-list {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 3rem;
  }

  .item-div {
    height: 40rem;
  }

  .front, .back {
    box-shadow: 1rem 1rem 0 0 rgb(18 17 16);
}

  .item-list .item-div .div-caption {
    font-size: 4.2rem;
  }

  
  .div-caption-eng::before {
    width: 5rem;
    height: 5rem;
  }

  .translate-btn {
    left: 33rem;
    width: 5rem;
    height: 5rem;
  }

  .stars-container {
    margin-left: 3.9rem;
  }

  .star {
    width: 4rem;
    height: 4rem;
    margin-right: 0.9rem;
  }

  .repeat {
    background-size: 9rem;
  }

}


/*---------------------601px-700px---------------------*/


@media screen and (max-width: 700px) and (min-width: 601px) {

  html {
    font-size: 40%;
  }

  .translate-btn{
    top: 0.5rem;
    margin-right: 1rem;
  }

  table{
    margin-top: 3rem;
    border: none;
  }
  th {
    font-size: 1.5rem;
    padding: 0;
  }
  td {
    font-size: 1.5rem;
    padding: 2px;
  }
}

@media screen and (max-width: 600px) {

  .container {
    width: 60rem;
  }

  .nav-sidebar {
    padding: 8rem 0 0 6rem;
    width: 35rem;
    font-size: 4.5rem;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 5.5rem;
  }

  .header-container {
    grid-template-rows: 1fr 12rem;
  }

  .header-link {
    box-sizing: border-box;
    width: 100%;
    padding-left: 13rem;
  }

  .header-title {
    width: 100%;
    font-size: 5.6rem;
  }

  .header-title::before {
    width: 13.5rem;
    height: 12.5rem;
    left: -13rem;
  }

  .nav-burger {
    margin-left: 2rem;
    width: 8.5rem;
    height: 5.3rem;
  }

  .rectangle {
    height: 1.3rem;
  }

  .play-toggle, 
  .start-btn {
    margin-right: 2rem;
    width: 12rem;
    height: 5rem;
    font-size: 3.5rem;
  }

  .item-list {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .item-div{
    margin: 0 auto;
    width: 42rem;
    height: 43rem;
  }
  
  .translate-btn {
    left: 35rem;
  }

  .bottom-div {
    height: 6rem;
  }

  .start-btn {
    margin-right: 0.95rem;
  }
}


@media screen and (max-width: 500px){
  html {
    font-size: 45%;
  }

  .container {
    width: 54rem;
  }

  .header-container {
    padding-top: 0;
    grid-template-rows: 1fr 9rem;
  }

  .header-link {
    box-sizing: border-box;
    width: 53rem;
    padding-left: 15rem;
  }

  .header-title {
    width: 100%;
    font-size: 6.5rem;
  }

  .header-title::before {
    top: 3rem;
    left: -12rem;
  }

  .nav-sidebar {
    padding: 0;
    padding-top: 5rem;
    width: 100%;
    font-size: 5.7rem;
    text-align: center;
  }

  .nav-sidebar .side-menu,
  .nav-sidebar .side-stats {
    font-size: 7rem;
  }

  .cross {
    left: 80%;
  }

  .cross .rect3 {
    transform: rotate(-45deg) translateY(-2.9rem) translatex(2.6rem);
  }

  .stars-container {
    margin-left: 2.9rem;
  }

}


@media screen and (max-width: 400px) {

  html {
    font-size: 40%;
  }

  .header-link {
    padding-left: 0;
    width: 100%;
  }

  .header-title {
    font-size: 6.5rem;
  }

  .header-title::before {
    display: none
  }

  .play-toggle, .start-btn {
    margin-right: 2rem;
    width: 14rem;
    height: 6rem;
    font-size: 4rem;
  }

  .stars-container {
    margin-left: 1rem;
  }

  .star {
    margin-right: 0.62rem;
  }
}

@media screen and (max-width: 350px) {

  html {
    font-size: 35%;
  }
}

@media screen and (max-width: 310px) {

  html {
    font-size: 28%;
  }
}

.hidden {
  display: none;
}
